<a href="https://colab.research.google.com/github/RuiyeNi/Programming/blob/master/Functional_Programming_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Source](https://towardsdatascience.com/elements-of-functional-programming-in-python-1b295ea5bbe0)  
**Programming Paradigms**:
* Imperative
   * Procedural
   * Object-oriented
* Declarative
  * Functional
  * Logic
  * Mathematical
* Functional Programming(FP)
  * First class functions
  * No side effects
  * Lazy evaluation
  * Statelessness
  * Immutable data
  * Pure functions

**Python Functional Programming Style Functions**:
  * lambda 
  * map
  * filter
  * reduce
 
The map, filter and reduce functions simplify the job of working with lists. When used along with lambda expressions they help to accomplish a lot in a single line of code.

## The Lambda Expression  
Definition:  
Aka `anonymous functions`, create and use a function in a single line.  
  
  
Use case:  
when need a short function that will be used only once.  


Syntax:  
lambda params: fun(params)

In [0]:
# standard approach
def f(x):
  return 5*x + 2

f(3)

17

In [0]:
# lambda function
lambda x: 5*x+2

In [0]:
g = lambda x: 5*x + 2
g(3)

17

In [0]:
# sort a list by it last letter
presidents_usa = ["Washintong", "Adams", "Madison", "Monroe", "Jackson"]

presidents_usa.sort(key=lambda name: list(name)[-1].lower())

presidents_usa

['Monroe', 'Washintong', 'Madison', 'Jackson', 'Adams']

## The Map Function  
Definition:  
Applies a function to every item of iterable, yielding the results.

Use case:  
Transform a given list to a new list by applying a function to all the functions in an input list.

Syntax:  
map(function_to_apply, iterables)

In [0]:
# define a function
def volume(a):
  """volume of a cube with edge 'a'"""
  return a**3

# declare edges
edges = [1, 2, 3, 4, 5]


# compute volume for a given edge

print(map(volume, edges)) # output of a map funciton is a map object
                          # an iteratior over the results

print(list(map(volume, edges))) # Turn the ouput into a list by passing
                                # the map to the list constructor

<map object at 0x7f4bb4e86518>
[1, 8, 27, 64, 125]

In [0]:
# lambda + map

# Convert height from cms to feet: 1cm = 0.0328 feet
height_in_cms = [('Tom', 183), ('Daisy', 171), ('Nick', 165)]

# lambda function convertor
height_in_feet = lambda data: (data[0], round(data[1]*0.0328, 1))

# use map function
list(map(height_in_feet, height_in_cms))

[('Tom', 6.0), ('Daisy', 5.6), ('Nick', 5.4)]

## The Filter Functions

Defnition:  
Constructions an iterator from those elements of iterable for 
which function returns true. 

Use case:  
Used to select certain pieces of data from a list.

Syntax:  
filter(function, iterable)

In [0]:
# Filter out all the numbers greater then 5 from a given list 
my_list = range(10)
output_list = filter(lambda x: x >5, my_list)

print(list(output_list))

[6, 7, 8, 9]

In [0]:
# Filter out missing values
countries = ["", "China", "Thailand", "Iceland"]

list(filter(None, countries))

['China', 'Thailand', 'Iceland']

## The Reduce Function
Defintion:  
Transforms a given list into a single value by applying a function cumulatively to the items of sequence, from left to right

Use case:  
Get a single value from a sequence


Syntax:  
not a build-in funciton  
**from functools import reduce**

reduce(func, seq)

In [0]:
# compute the production of a list of integers 
from functools import reduce
product = reduce(lambda x, y: x*y, [1, 2, 3, 4, 5])
product


#1*2 -> *3 -> *4 -> *5

120

## List Comprehensions: Alternative to map, filter and reduce

In [0]:
# list compreshension
lc_example = [n**2 for n in [1, 2, 3, 4, 5]]


# generator
genex_example = (n**2 for n in [1, 2, 3, 4, 5])

print(lc_example)
print(genex_example)

[1, 4, 9, 16, 25]
<generator object <genexpr> at 0x7f4bb4dfcc50>

In [0]:
genex_example2 = (n**2 for n in [1, 2, 3, 4, 5] if n >= 3)
print(next(genex_example2))
print(next(genex_example2))

9
16

In [0]:
def multiply():
  a = [1, 2, 3, 4, 5]
  
  for ia in a:
    yield ia**2
    
mul_fun = multiply()

print(next(mul_fun))
print(next(mul_fun))

1
4

Key takeaways (solve memory problem):  
* Generators produce values one-at-a-time as opposed to giving them all at once.  
* There are two ways to create generators: generator functions and generator expressions.  
* Generator functions yield, regular functions return.  
* Generator expressions need (), list comprehensions use [].  
* You can only use a generator once.  
* There are two ways to get values from generators: the next() function and a for loop. The for loop is often the preferred method.
We can use generators to read files and give us one line at a time.


[Source](https://www.dataquest.io/blog/python-generators-tutorial/)